body{
    background-color: #EAEDF1;
    color: #33495F;
    margin-left: auto;
    margin-right: auto;
    font-family: ALSArtemiusSerif,Helvetica,sans-serif;
    text-align: justify;
    line-height: 1.5;
}

h1, h2, h3, h4{
    font-family: ALSArtemiusSerif,Helvetica,sans-serif;
}

/* стили для хедера */
.my-header{ 
    width: 100%;
    height: 295px;
    margin: 82px 50px 40px 80px;
}

.header-block{
    background-color: white;
    display: inline-block;
    height: 100%;
}

.avatar-parent{    
    width: 435px;
    float: left;
    margin-right: 50px;
}

.avatar-child{
    height:74%; 
}

.photo{
    width: 50%;
    float: left;
}


.round {
    border-radius: 100px;
    display: block;
    margin-left: auto;
    margin-right: 45px;
    margin-top: 38px;
   }

   .round2 {
    border-radius: 100px;
    float:left;
    width:30px;
    height:30px;
    margin-top: -25px;
    margin-left:5%;
    margin-right: 4%;
   }
  
   .round3 {
    border-radius: 100px;
    float:left;
   }
   .round-mini{
    border-radius: 100px;
    margin-bottom: -15px;
   }


.about-me{
    width: 50%;
    float: right;
    margin-left:-100px;
    line-height: 0.7;
}
 
.about-me h3{
    margin-top:88px;
    margin-bottom: -10px;
}


.about-me p{
    margin-top:-35px;
    margin-bottom: -10px;
}

.color-blocks{
    height: 26%;
    color:white;
}

.color-block{
    margin-top: 20px;;
    /* margin-bottom:auto; */
    padding-top: 0px;
    margin-bottom: -10px;

}

.color-blocks p{
    text-align:center;
    /* margin-bottom:-20px; */
    margin-top: 0px;
    font-size:15px;
}

.color-blocks img{

}

.age{
    background-color: #16C4EC;
    width: 25%;
    float: left;
}

.language{
    background-color: #FA5351;
    width: 25%;
    float: left;
}

.drive-license{
    background-color: #10CDC1;
    width: 25%;
    float: left;
}

.smoking{
    background-color: #33495F;
    width: 25%;
    float: right;
}

/* 2 блок*/


.presentation-parent{   
    width:826px; 
    float: right;
    margin-right:0px;
}


.presentation-child{
    width: 460px;
    float: left;    
    padding-left: 10px;
}

.presentation-text{
    width:96%;
    margin-left:5%;
    margin-right:70px;
    height: 70%; 
    margin-top:10%;
    text-align: left;
}

.presentation-text h2{
    text-align: left;
    font-size:30px;
}

.presentation-text span{
    color:#16C4EC;
}

.social{
    background-color: brown;
    width:100%;
    height: 30%;
    /* margin-left:3%; */
    margin-right:30px;
    display:inline-block;
    vertical-align: middle;
    background: white url("images/vk.png") no-repeate 0 0;
}


.header-icon{
    width:16%;
}

.contacts{
    width: 40%;
    float: right;
    text-align: center;
}

.contacts-text{
    margin-top: 110px;
    margin-right: 35px;
    margin-left: 20px;
    font-size:25px;    
    line-height: 1;
    text-align: justify;
    font-size: 22px;
}

.contacts-text span{
    color: #FF0000;
    letter-spacing: 2px;
}

.contacts-text hr{
    color: grey;
    background-color: grey;
    margin-top: 35px;
}

.social-vk{
    background-image: url("images/vk.png");
}


/* стили для контента */

.content{
    width: 100%;
    height: 1100px;
    margin: 0px 50px 40px 80px;
}

.content-block{
    display: inline-block;
    height: 100%;
}

.left-bar{
    width: 634px;
    float: left;
}

.left-bar h2{

}

.center-line{
    width: 50px;
    float: left;
}

.right-bar{
    width: 625px;
    float: right;
    line-height: 1.5;

}

.right-bar p{
    font-size: 12px;
}

.block-left1{
    height:312px;
    width:634;
    background-color: white;
    margin-bottom:32px;
    padding: 2%;
    padding-top: 25px;
}

.block-left12{
    height:298px;
    width:634;
    background-color: white;
    margin-bottom:32px;
    padding: 2%;
}


.sub-block{
    height:30%;
    width:100%;   
    padding:0px;
    padding-bottom: -10px;
}

.sub-text{
    height:70%;
    width:100%;
    padding:10px;
    line-height: 20px;
}

.sub-block2{
    height:50%;
    width:100%;
    padding-bottom:20px;
    padding-top: -20px;
}

.sub-text2{
    height:50%;
    width:100%;
    padding:20px;
    padding-bottom: 0;
}

.sub-block3{
    height:50%;
    width:100%;
    padding-bottom:20px;
    padding-top: -35px;
}

.sub-text3{
    height:50%;
    width:100%;
    padding:20px;
    padding-bottom: 0px;
}

.sub-block4{
    height:50%;
    width:100%;
    padding:0px;
    margin-bottom: -10px;
    margin-left:-20px;
}

.sub-text4{
    height:50%;
    width:100%;
    padding:25px 25px 0 25px;
    margin-bottom: -20px;
}

.sub-block3 img{
    margin-bottom:-2%;
}

.sub-block4 img{
    margin-bottom:-2%;
}

.sub-left{
    float:left;
    margin-left: 50px;
    margin-top:10px;
}

.sub-right{
    float:right;
}

.block-left2{
    height:145px;
    background-color: white;
    margin-bottom:30px;
    padding: 2%;
}

.block-right1{
    height:154px;
    background-color: #DBE1E8;
    margin-bottom:34px;
    padding: 1%;
}
.block-right1 .sub-block3{
    padding-top: 7px;
    padding-left: 2px;
}

.block-right2{
    height:115px;
    background-color: #DBE1E8;
    margin-bottom:35px;
    margin-top:35px;
    padding: 1%;
    padding-left: 0px;
}


.line{
    margin-bottom:4%;
    border-top: 2px dashed #cccccc; 

} 

.block-right3{
    height:400px;
    background-color: white;
    /* margin-bottom:4%; */
    padding: 4px;
    padding-top: -50px;
    
}

.icons-bar{
    height: 30%; 
    padding-top:-30px; 
}

.icons-bar p{
    font-size: 13px;
}

.icons-bar img{
    margin-top: -8px;
    margin-left: -8px;
}

.big-icon-first{
    width: 15%;
    float: left;
    background-color: white;
    margin-left:3%;
    margin-right: 5px;
}

.big-icon{
    width: 15%;
    float: left;
    background-color: white;
    margin-left:1%;
    margin-right: 1px;
}
.big-icon-last{
    width: 15%;
    float: right;
    background-color: white;
    margin-right: -5px;
}

.indicators-bar{
    height: 60%;
    margin-top:48px;
    line-height: 1.2;
    
}

.indicators-left{
    width: 45%;
    float:left;
    padding:0 5px 0 5px;
}

.indicators-right{
    width: 45%;
    float:right;
    padding:0 10px 0 0px;
}

/* ПОДВАЛ */
footer{
background-color: #EAEDF1;
height: 80px;
margin-top:50px;
}

footer p{
    font-size: 16px;
    font-style: italic;
    text-align:center;
    padding: 15px;
    padding-top:-40px;
}

footer p span{
    color: grey;
    font-size: 100px;

}

.progress-container{
    margin: 10px;
    margin-top: -8px;
    margin-bottom: 23px;
}

  progress {
    border:0;
    width: 270px;
    height: 15px;
    border-radius: 10px;
    background: #10CDC1;
    margin-bottom: 5px;
}

progress::-webkit-progress-bar {
    width: 270px;
    height: 15px;
    border-radius: 10px;
    background: #DBE1E8;
}
progress::-webkit-progress-value {
    border-radius: 10px;
    background: #10CDC1;
}
progress::-moz-progress-bar {
    border-radius: 10px;
    background: #10CDC1;
}


.left-bar img{
    margin-top:-15%;
    margin-bottom: -1%;
}

.font-big{
    font-size: 20px;
}


.green{
    color:#04BCA6;
    font-size:20px;
    margin-top: 15px;
}

.grey{
    color:#9EA7B4;
}

.blue{
    color: #00B9D8;
}

.submit{
    background-color: #16C4EC;
    color:white;
    border:0;
    border-radius: 5%;
    height:35px;
    width: 220px;
    margin-right:18px;
    margin-top: 1px;
    font-size:14px;
}

.block-right1 .submit{
    background-color: #10CDC1;
    margin-top: -15px;

}

.submit-grey{
    background-color: #B0BBCA;
    color:white;
    border:0;
    
    border-radius: 5%;
    height:35px;
    width: 220px;
    margin-right:8px;
    margin-top: -40px;
    margin-bottom: 15px;
}

.about-me p{
    color:#586879;
    margin-top: 30px;
}
h3{
    font-size: 27px;
}

.procent{
    width:40px;
    height:20px;
    background:#34495E;
    border-radius: 20%;
    float:right;
    color:white;
    font-size: 12px;
    text-align: center;
    margin-top:-3px;
}
    
.contacts-text br{
    height: 20px;
}

.block-right1 .sub-left{
    margin-top: -1px;
    margin-left:15px;
    margin-right:55px;
}

.block-right2 .green{
    font-size: 16px;
}

.block-right2 .sub-right{
    padding-top: 15px;
}

.block-right2 .sub-left{
    padding-top: 5px;
}

.zag2{
    font-size: 38px;
    color:#34495E;
    margin-top: -5px;
    margin-bottom: -15px;
}

.descript{
    line-height: 1.8;
    font-size:18px;
}